<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container container-fluid">
        <div class="jumborton"><h1>WEATHER</h1></div>
        <form class="form-inline" action="/form" method="POST">
            <div class="form-group mb-2">
            <div class="form-group mx-sm-3 mb-2">
              <label for="CityName" class="sr-only">City</label>
              <input type="text" name="city" class="form-control"  placeholder="City">
            </div>
           <button type="submit" class="btn btn-primary mb-2">Add City</button> 
          </form>       
          <br><br>
            <div class="card" >
                <div class="card-header" style="background:#999;border-radius: 0.5em;">
                  <center><h3>{{city}}</h3></center>  
                </div>
                <div class="card-body" style="background:whitesmoke">
                    <span><img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image"></span>
                    <h2>{{temprature}}<sup>*</sup>F</h2>
                    <br><h4>{{description}}</h4>
                </div>
            </div>

        

    </div>
 
</body>
</html>